* {
  box-sizing: border-box;
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,21,1) 57%, rgba(0,212,255,1) 100%);
}

.header {
  font-size: 20px;
  color: #daa520;
}

.grid-container {
  padding: 12px;
  height: 600px;
  width: 600px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.grid-row {
  flex: 1;
  display: flex;
}

.grid {
  border: 1px solid #000000;
  flex: 1;
  background-color: #ffffff;
}

.clear-button {
  font-size: 16px;
  font-weight: 900;
  border-radius: 50%;
  height: 60px;
  background-color: #adff2f;
  border: 1px solid #008000;
  box-shadow: 5px 5px #3d00008e;
}